body{
	margin: 0px;
	padding: 0px;
	background-image: url("images/Group 25.png") ;
	}
	.header{
		background: white;
		height: 120px;
		margin: 0px;
		margin-top: 0px;
	}
	nav ul li{
		list-style-type: none;
		 display: inline-block;;
		padding: 50px;
	}
	 li{
		color: #black;
		text-decoration: none;
	}
	ul li:hover {
				color:#ffd358 ;
				text-decoration: underline;
	}
	.menu1 li{
		float: left;
		padding: 30px;
		margin-right: 20px;
		margin-left: 60px;
	}
	/*{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
	}*/

	section{
		text-align: center;
		/*display: flex;*/
		justify-content: center;
		align-items: center;
		/*height: 100vh;*/
		margin-top: 200px;
		background-position: center;

	}
	.log{
		background: white;
		margin-right: 600px;
		margin-left: 600px;
		border-radius: 25px;
		height: 100px;
		width: 200px;
	}
	.soulog {
		background: gray;
		height: 60px;
		margin-right: 500px;
		margin-left: 500px;
		text-align: center;
		}

		div h1 {
    border: 0px black solid; 
    width: 100%;
    border-radius: 10px;
    text-align: center;
}


		.midle    {
			background: white;
			height: 400px;
			margin: 0px;
			margin-top: 0px;
			padding: 
			display:flex;
			padding: 50px;

		}
		.image{
			display: flex;
			justify-content: space-between;
			margin: 0px;
			padding: 0px;
			box-sizing: 
		}
				nav ul li{
			display: inline-block;
			list-style-type: none;
			justify-content: space-between;
			margin: 0px;
			padding: 0px;
			box-sizing: 
		}
		.menu2 li{
		float: left;
		padding: 30px;
		margin-right: 50px;
		margin-left: 50px;
	}
}
.imagep{
width:20%;
height:20%;
align-items: center;
background-color: 
}
.imagep img{
	height: 150px;
	width: 150px;
	border-radius: 75px;
	border: 3px solid green;
	
}
.imaged{
width:20%;
height:20%; 
align-items: center;
background-color: 
}
.imaged img{
	height: 150px;
	width: 150px;
	border-radius: 75px;
	border: 3px solid green;
}
.imagem{
width:20%;
height:20%;
justify-content: 
display: 
align-items: center;
background-color: 
}
.imagem img{
	height: 150px;
	width: 150px;
	border-radius: 75px;
	border: 3px solid green;
	
}
.menu3 li{
		float: left;
		padding: 30px;
		margin-right: 50px;
		margin-left: 50px;
	}
	.menu3 {
		background-color:grey;
		height: 200px;
		margin-top: 0px;
		margin: 0px;
		padding: 50px;
	}

	footer {
	margin-top: 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 10px;
	background-color: #000;
	color: white;
}
footer .colonne p {
	font-size: 12px;
	color: #ccc;
	cursor: pointer;
}
footer .colonne p:hover {
	color: #fff;
}